body {
    background-color: #D9E1DC;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    margin: 0;
    text-align: center;
}

#content {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 100px;
}

#field label {
    display: block;
    font-size: 12px;
    text-align: left;
    color: rgb(109, 113, 110);
}

#field input {
    border: 0;
    background-color: transparent;
    font-size: 28px;
    color: rgb(109, 113, 110);
    float: left;
    width: 200px;
}

#loader {
    border: 1px solid #f3f3f3; /* Light grey */
    border-top: 1px solid #454849; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    float: left;
    display: none;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }